.img-box-shibir{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    aspect-ratio: 5/4;
    padding: 20px;
    border-radius: 10px;
    background: url("../photos/Atal_Mahaarogya_Shibir/Atal\ Maharogya\ Shibir\ 05.webp");
}