.counter-parent {
   height: auto;
   padding: 60px 0px;
   
    



    .conter-container {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;

        .count-box {
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 60px;

            .counter-box {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                box-shadow: var(--shadow);
                border-radius: 10px;
                height: 200px;
                width: 300px;

               .counter-number{
                font-size: 70px;
                font-weight: 600;
               } 



            }


        }

        .count-box2{
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 60px;
            

            .counter-box {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                height: 200px;
                width: 300px;
                box-shadow: var(--shadow);

               .counter-number{
                font-size: 70px;
                font-weight: 600;
               } 



            }

        }
    }

}