.drushti{
    background: #efefef;
    padding: 50px 0px;
    .drushti-container{
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // background: #ffffff;
        gap: 40px;

        .mySwiper {
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;

            .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
                background: var(--accent);
            }

            .swiper-button-prev:after,
            .swiper-button-next:after {
             display:none;
            }
            @media only screen and (max-width:1000px){
              .swiper-button-prev:after,
            .swiper-button-next:after {
              display:block !important;
              background:var(--accent);
              padding:10px;
              color:var(--white);
              font-size:16px;
              border-radius:100%;
            }
            }
        }

        .drushti_twobox_cont{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // background: #ffffff;
            border-radius: 10px;
            gap: 20px;
            margin-bottom: 50px;
            
            .drushti_img{
                width: 40%;
                height: 350px;
                border-radius: 10px;  
                             
            }
            .drushti_img1{
                background: url("../photos/drushti/s11img.webp"); 
            }
            .drushti_img2{
                background: url("../photos/drushti/g4img.webp"); 
            }
            .drushti_img3{
                background: url("../photos/drushti/s12img.webp"); 
            }
            .drushti_img4{
                background: url("../photos/drushti/s13img.webp"); 
            }

            .drushti_content{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60%;
                height: 350px;
                border-radius: 10px;
                background:white;
                padding: 30px;
                

            }
        }
        @media only screen and (max-width:1000px){
            .drushti_twobox_cont{
                flex-direction: column-reverse;
                background:var(--white);
                .drushti_img{
                    width: 100%;
                    height: 350px;
                                 
                }
                .drushti_content{
                    width: 100%;
                    height: 350px;
                }
            }

        }
        @media only screen and (max-width:600px){
            .drushti_twobox_cont{
                .drushti_img{               
                }
                .drushti_content{
                    height: 500px;
                }
            }

        }
        @media only screen and (max-width:450px){
            .drushti_twobox_cont{
                .drushti_img{               
                }
                .drushti_content{
                    height: 650px;
                }
            }

        }

    }
}