.header {
    height: 60px;
    //   box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 15;
    background: rgba(0, 0, 0, 0.148);
    backdrop-filter: blur(5px);
    position: sticky;



    &.scrolled {
        background: var(--white);
        box-shadow: var(--shadow);

        .header-cont .links a:not(.btn) {
            color: var(--text) !important;
        }

    }

    .header-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
        max-width: none !important;
        padding: 0px 30px;
        height: 100%;
        




        .logo {
            height: 100%;
            display: flex;
            align-items: center;
           

            img {
                height: 80%;
            }

            h2 {
                font-weight: 700;
                margin-left: 10px;
                font-family: "Alkatra", system-ui !important;
                font-optical-sizing: auto;
                // font-weight: 600;
                font-style: normal;
                font-size: 2vw;
            }
        }

        .links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--gap);

            a:not(.btn) {
                text-decoration: none;
                font-weight: 500;
                color: var(--white);

                &:hover,
                &.active {
                    color: var(--accent);
                }
            }

            .ant-dropdown-link {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: var(--text);
                font-weight: 500;

                .header-arrow {
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 30px;
                    }
                }
            }
        }

        .menu {
            // display: none;
            height: 50px;
            aspect-ratio: 1;
            display: none;
            align-items: center;
            justify-content: center;
            font-size: 40px;
        }
    }


}

.dropdown {
    margin-top: 15px !important;
}

// mobile nav starts here

.mob-nav {
    background: var(--white);
    z-index: 10;
    min-height: 100vh;
    width: 0vw;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: var(--trans);
    padding-top: 100px;

    &.navopen {
        width: 100vw;
        right: 0px;

        .close {
            font-size: 40px;
            display: flex !important;
        }

        .moblinks {
            a {
                font-size: 20px !important;
            }
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 50px;
        aspect-ratio: 1;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 0px;
        transition: var(--trans);
    }

    .moblinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--gap) * 1);
        height: 100%;
        overflow-y: hidden  ;

        a:not(.btn) {
            text-decoration: none;
            font-weight: 500;
            font-size: 0px;
            color: var(--text);
        }

        .arrow-mob {
            display: flex;
            align-items: center;
        }
    }

    .dropdown-mob {
        max-height: 300px;
        /* Adjust the max-height as needed */
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: #efefef;
        color: white;
    }
}



@media only screen and (max-width: 1000px) {
    .menu {
        display: flex !important;
    }

    .links {
        display: none !important;
    }

    .mob-nav {
        // display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        height: 100% !important;
        display: flex !important;
        align-items: center !important;

        img {
            height: 80% !important;
        }

        h2 {
            font-weight: 700 !important;
            font-size: 5vw !important;
            text-align: left !important;
            line-height: 20px;
        }
    }

    .moblinks{
overflow-y: scroll !important;
    }
}