.img-box-jan-jagar{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        aspect-ratio: 5/4;
        padding: 20px;
        border-radius: 10px;
        background: url("../photos/drushti/JAN_JAGRAN_SAMVAD.webp");
}