.img-box-72-taas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  aspect-ratio: 5/4;
  padding: 20px;
  border-radius: 10px;
  background: url("../photos/72_taas_andolan/72_Taas_Andolan.webp");
}
    
  
    h3{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 700;
    }

  